<section class="contact">

	<p class="description">
		<%= @contact.description %>
	</p>

	<div class="contactInfo">
		<p>Name: <%= @contact.name %> <br />
			Phone: <%= @contact.phone %><br />
			Address: <%= @contact.address %></p>
	</div>

</section>